apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: live-origin-backendconfig
  namespace: default
spec:
  healthCheck:
    type: HTTP
    requestPath: /healthz
    port: 8080
    checkIntervalSec: 5
    timeoutSec: 5
    healthyThreshold: 1
    unhealthyThreshold: 3
