apiVersion: v1
kind: ConfigMap
metadata:
  name: live-origin-nginx-config
data:
  nginx.conf: |
    events {}
    http {
      server {
        listen 8080;

        root /data/segments;

        location / {
          add_header Access-Control-Allow-Origin "*" always;
        }

        location /healthz {
          return 200 "ok";
          add_header Content-Type text/plain always;
        }


        location ~ \.mpd$ {
          add_header Cache-Control "no-store" always;
          add_header Access-Control-Allow-Origin "*" always;
        }

        location ~ \.m4s$ {
          add_header Cache-Control "public, max-age=1" always;
          add_header Access-Control-Allow-Origin "*" always;
        }

        location ~ init\.mp4 {
          add_header Cache-Control 'public, max-age=31536000, immutable' always;
          add_header Access-Control-Allow-Origin "*" always;
        }
      }
    }
