apiVersion: v1
kind: ConfigMap
metadata:
  name: live-origin-nginx-config
data:
  nginx.conf: |
    events {}
    http {
    
      include /etc/nginx/mime.types;
      default_type application/octet-stream;

      server {
        listen 8080;

        root /data/segments;

        sendfile off;
        tcp_nopush on;
        tcp_nodelay on;

        location /healthz {
          return 200 "ok";
          add_header Content-Type text/plain always;
        }

        location / {
          add_header Access-Control-Allow-Origin "*" always;
          add_header Access-Control-Allow-Methods "GET, OPTIONS" always;
          add_header Access-Control-Allow-Headers "*" always;
        }

        location ~ \.mpd$ {
          add_header Access-Control-Allow-Origin "*" always;
          add_header Access-Control-Allow-Methods "GET, OPTIONS" always;
          add_header Access-Control-Allow-Headers "*" always;          
          
          add_header Cache-Control "no-store, must-revalidate" always;
          expires -1;
        }

        location ~ \.m4s$ {
          add_header Access-Control-Allow-Origin "*" always;
          add_header Access-Control-Allow-Methods "GET, OPTIONS" always;
          add_header Access-Control-Allow-Headers "*" always;          
          
          add_header Cache-Control "no-store, must-revalidate" always;
          expires -1;

          sendfile off;
          aio on;
          directio 512;
          tcp_nopush on;
          tcp_nodelay on;

          proxy_buffering off;
          proxy_request_buffering off;
          proxy_cache off;
        }

        location ~ init\.mp4$ {
          add_header Access-Control-Allow-Origin "*" always;
          add_header Access-Control-Allow-Methods "GET, OPTIONS" always;
          add_header Access-Control-Allow-Headers "*" always;          

          add_header Cache-Control 'public, max-age=31536000, immutable' always;
        }
      }
    }
